export HEROKU_POSTGRESQL_PINK_URL='postgres://olximhgmjmauod:2P4MEWRW92qdOHrX70hpv36VrF@ec2-46-137-73-65.eu-west-1.compute.amazonaws.com:5432/d950j20b1bdsm7'

export DATABASE_URL='postgres://olximhgmjmauod:2P4MEWRW92qdOHrX70hpv36VrF@ec2-46-137-73-65.eu-west-1.compute.amazonaws.com:5432/d950j20b1bdsm7'

export PGUSER='olximhgmjmauod'
export PGHOST='ec2-46-137-73-65.eu-west-1.compute.amazonaws.com'
export PGPASSWORD='2P4MEWRW92qdOHrX70hpv36VrF'
export PGDATABASE='d950j20b1bdsm7'
export PGPORT=5432
