* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-header {
  padding: 1em;
}

.main-header nav ul {
  background-color: #ededed;
}

.main-header nav ul li {
  list-style: none;
  display: inline-block;
  padding: 1em;
  line-height: 2em;
  font-size: 1em;
}

.col {
  border: 1px solid;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #ededed;
  padding: 1em;
}

.col {
  background-color: #fcfcfc;
  border: 1px solid #d0d0d0;
  padding: 1em;
  font-size: 1em;
}

.stream-title {
  color: black;
}

.stream-unit {
  border-bottom: 1px solid #d0d0d0;
  height: 10em;
  padding: 1em;
  position: relative;
}

.person {
  border-radius: 1em;
  border: 1px solid #f0f0f0;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: grey 0 1px;
  display: inline-block;
}

.nickname {
  font-size: 10px;
  line-height: 4px;
  position: relative;
  top: -10px;
}

#day2 .person {
  background: #ffc;
}
#day3 .person {
  background: #fc6;
}

#day4 .person {
  background: #f93;
}

#day5 .person {
  background: #f30;
}
